
<div class="editContainer">
  <form action="/edit">
  <label for="sources">Your sources</label>


  {{#each preferences}}
  <p class="pref">{{this}}</p>
  {{/each}}
  <input type="text" name="sources" id="sources">

  <label for="languages">Your languages</label>
 
 {{#each languages}}
  <p class="lang">{{this}}</p>

  {{/each}}
  <input type="text" name="languages" id="languages">

  <label for="categories">Your categories</label>


  {{#each category}}
  <p class="categ"> {{this}}</p>
  {{/each}}
  <input type="text" name="categories" id="categories">

  <button onclick="handleSubmit()">Submit your choices</button>

  </form>

 </div>
  
  <script>
  const selectedSources = [];
  const selectedLanguages = [];
  const selectedCategories = [];

 
  document.querySelectorAll(".pref").forEach(sourceSelected => {
    return sourceSelected.addEventListener("click", () => {
    sourceSelected.setAttribute("id","choiceId");
    selectedSources.push(sourceSelected.innerHTML);
    
    }
    )
  })

  document.querySelectorAll(".lang").forEach(languageSelected => {
    return languageSelected.addEventListener("click", () => 
    selectedLanguages.push(languageSelected.innerHTML));
   
  })

  document.querySelectorAll(".categ").forEach(categorySelected => {
    return categorySelected.addEventListener("click", () => selectedCategories.push(categorySelected.innerHTML))
  })


    
     const handleSubmit = () => {
   
    axios.post("/edit", { sources: selectedSources, userLanguages: selectedLanguages, category: selectedCategories })
      .then(response => {
        //document.getElementById("choiceId").innerText=""
        window.location.href = "/articles"
      })
      .catch(error => {
        console.log(error)
      })
  }
  </script>

