
<div class="editContainer">
  <form action="/edit">
  <label for="sources">Your sources</label>
<<<<<<< HEAD
  <p class ="chosen-element">{{preferences}}</p>
=======
  <p>{{preferences}}</p>
>>>>>>> development
  <input type="text" name="sources" id="sources">

  <label for="languages">Your languages</label>
  <p>{{languages}}</p>
  <input type="text" name="languages" id="languages">

  <label for="categories">Your categories</label>
  {{categories}}
  <input type="text" name="categories" id="categories">
  </form>

  <script>
<<<<<<< HEAD

     document.querySelectorAll(".chosen-element").forEach(choiceSelected => {
    return choiceSelected.addEventListener("click", () => delete(choiceSelected))
  })

  const delete
    
=======
    forEach(preferences => {
     return sourceSelected.addEventListener("click", () => selectedSources.push(sourceSelected.innerHTML))
     })
>>>>>>> development
  </script>

</div>