
<div class="editContainer">
  <form action="/edit">
  <label for="sources">Your sources</label>
  {{#each}}
  <p class="choice-tag">{{preferences}}</p>
  <input type="text" name="sources" id="sources">

  <label for="languages">Your languages</label>
  <p>{{languages}}</p>
  <input type="text" name="languages" id="languages">

  <label for="categories">Your categories</label>
  {{categories}}
  <input type="text" name="categories" id="categories">
  </form>

  

</div>