<h1>Welcome</h1>

<form id="form" action="/content" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username" placeholder="Your username">

    <label for="birthday">Birthday</label><br>
    <input type="Date" name="birthday" placeholder="Birthday">

    <label for="password">Password</label><br>
    <input type="password" name="password" placeholder="********">

<<<<<<< HEAD
    <label for="email">E-Mail</label><br>
    <input type="email" name="email" placeholder="E-mail">
=======
    <label for="birthday">Birthday</label><br>
    <input type="date" name="bithday" id="birthday">

    <label for="email">Email</label><br>
    <input type="text" name="email" id="email">
>>>>>>> e9f9a0898d9df817e452c82adc45d1c1635cdb4f

    <button type="submit">Create account</button>
</form>