<h>Please make your choices</h>

<div id="search-bar" class="search-content">
  <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">

  {{#each data.sources}}
  <span class="source-tag">{{id}}</span>
  {{/each}}
</div>

{{#each uniCategories}}
<p class="categ">{{this}}</p>
{{/each}}

<span class="language-tag">Arabic</span>
<span class="language-tag">German</span>
<span class="language-tag">English</span>
<span class="language-tag">Spanish</span>
<span class="language-tag">Dutch</span>
<span class="language-tag">Russian</span>

</div>

<button onclick="handleSubmit()">Submit your choices</button>

<script>

  const selectedSources = [];
  const selectedLanguages = [];
  const selectedCategories = [];
  document.querySelectorAll(".source-tag").forEach(sourceSelected => {
    return sourceSelected.addEventListener("click", () => selectedSources.push(sourceSelected.innerHTML))
  })

  document.querySelectorAll(".language-tag").forEach(languageSelected => {
    return languageSelected.addEventListener("click", () => selectedLanguages.push(languageSelected.innerHTML))
  })

  document.querySelectorAll(".categ").forEach(categorySelected => {
    return categorySelected.addEventListener("click", () => selectedCategories.push(categorySelected.innerHTML))
  })


  const handleSubmit = () => {

    axios.post("/preferences", { sources: selectedSources, userLanguages: selectedLanguages, category: selectedCategories })
      .then(response => {
        //console.log(response)
        window.location.href = "/articles"
      })
      .catch(error => {
        console.log(error)
      })
  }

  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("search-bar");
    a = div.getElementsByTagName("span");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>

<a href="/logout">Log out</a>