body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: red
}

.source-tag {
  padding: 5px;
  border-radius: 5px;
  background-color: aquamarine;
  margin: 8px;
}