body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.pref {
  background-color: lightblue;
  padding: 10px;
  border-radius: 8px;
  border-radius: 3px solid black;
  margin: 20px;
  cursor: pointer;
}



.particle {
	position: absolute;
 	border-radius: 50%;
}

@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 60s infinite;
		$size: random(5) + 5 + px;
		opacity: random(100)/100;
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		background: hsl(random(360), 70%, 50%);
	}
}

h2 {
	display: flex;
	justify-content: center;
	margin-top: 2.5rem;
}

h4 {
	display: flex;
	justify-content: center;
}
.nav-bar {
background-color: aquamarine;
margin: 0;
height: 12vh;
display: flex;
justify-content: flex-end;
align-items: center;
}

.name {
 padding: 20px;

}
.name input {
	background-color: #ffffff;
}


.loginBtn {
  margin-top: 0.9rem;
  padding: 1.5rem;
}

.signUp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signInputs {
   padding: 8em;
   align-items: space-between;
}