body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

h1 {
  color: red; }

.pref {
  background-color: lightblue;
  padding: 10px;
  border-radius: 8px;
  border-radius: 3px solid black;
  margin: 20px;
  cursor: pointer; }

.particle {
  position: absolute;
  border-radius: 50%; }

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(18vw, 24vh, 76px); } }

.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.09;
  height: 9px;
  width: 9px;
  animation-delay: -0.2s;
  transform: translate3d(77vw, 66vh, 63px);
  background: #d92641; }

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(45vw, 53vh, 16px); } }

.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.68;
  height: 8px;
  width: 8px;
  animation-delay: -0.4s;
  transform: translate3d(66vw, 75vh, 60px);
  background: #5626d9; }

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(44vw, 68vh, 25px); } }

.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.59;
  height: 10px;
  width: 10px;
  animation-delay: -0.6s;
  transform: translate3d(60vw, 89vh, 93px);
  background: #c1d926; }

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(8vw, 24vh, 48px); } }

.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.4;
  height: 6px;
  width: 6px;
  animation-delay: -0.8s;
  transform: translate3d(26vw, 31vh, 75px);
  background: #26d944; }

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(54vw, 37vh, 66px); } }

.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.71;
  height: 6px;
  width: 6px;
  animation-delay: -1s;
  transform: translate3d(10vw, 73vh, 11px);
  background: #5326d9; }

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(70vw, 54vh, 8px); } }

.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.53;
  height: 7px;
  width: 7px;
  animation-delay: -1.2s;
  transform: translate3d(57vw, 90vh, 35px);
  background: #d92680; }

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(67vw, 12vh, 60px); } }

.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.82;
  height: 9px;
  width: 9px;
  animation-delay: -1.4s;
  transform: translate3d(64vw, 70vh, 76px);
  background: #d926b2; }

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(55vw, 36vh, 88px); } }

.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.79;
  height: 6px;
  width: 6px;
  animation-delay: -1.6s;
  transform: translate3d(51vw, 30vh, 64px);
  background: #26d953; }

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(43vw, 52vh, 95px); } }

.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.71;
  height: 6px;
  width: 6px;
  animation-delay: -1.8s;
  transform: translate3d(38vw, 40vh, 32px);
  background: #d9c726; }

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(46vw, 54vh, 33px); } }

.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.32;
  height: 7px;
  width: 7px;
  animation-delay: -2s;
  transform: translate3d(23vw, 35vh, 43px);
  background: #3e26d9; }

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(37vw, 85vh, 36px); } }

.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.1;
  height: 7px;
  width: 7px;
  animation-delay: -2.2s;
  transform: translate3d(71vw, 67vh, 63px);
  background: #2656d9; }

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(43vw, 30vh, 25px); } }

.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.41;
  height: 10px;
  width: 10px;
  animation-delay: -2.4s;
  transform: translate3d(44vw, 34vh, 33px);
  background: #3826d9; }

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(83vw, 67vh, 43px); } }

.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.63;
  height: 9px;
  width: 9px;
  animation-delay: -2.6s;
  transform: translate3d(41vw, 26vh, 6px);
  background: #2682d9; }

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(29vw, 32vh, 96px); } }

.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.21;
  height: 10px;
  width: 10px;
  animation-delay: -2.8s;
  transform: translate3d(46vw, 69vh, 4px);
  background: #26d977; }

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(83vw, 7vh, 63px); } }

.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.09;
  height: 6px;
  width: 6px;
  animation-delay: -3s;
  transform: translate3d(58vw, 44vh, 15px);
  background: #7d26d9; }

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(30vw, 23vh, 7px); } }

.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.71;
  height: 6px;
  width: 6px;
  animation-delay: -3.2s;
  transform: translate3d(48vw, 50vh, 48px);
  background: #26d965; }

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(79vw, 79vh, 2px); } }

.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.1;
  height: 10px;
  width: 10px;
  animation-delay: -3.4s;
  transform: translate3d(90vw, 18vh, 13px);
  background: #2682d9; }

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(44vw, 41vh, 29px); } }

.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.48;
  height: 8px;
  width: 8px;
  animation-delay: -3.6s;
  transform: translate3d(33vw, 50vh, 96px);
  background: #d94a26; }

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(41vw, 76vh, 44px); } }

.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.17;
  height: 8px;
  width: 8px;
  animation-delay: -3.8s;
  transform: translate3d(76vw, 86vh, 39px);
  background: #9a26d9; }

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(38vw, 66vh, 27px); } }

.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.38;
  height: 7px;
  width: 7px;
  animation-delay: -4s;
  transform: translate3d(8vw, 14vh, 95px);
  background: #d98b26; }

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(41vw, 71vh, 66px); } }

.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.35;
  height: 9px;
  width: 9px;
  animation-delay: -4.2s;
  transform: translate3d(78vw, 4vh, 94px);
  background: #c7d926; }

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(87vw, 7vh, 72px); } }

.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.2;
  height: 8px;
  width: 8px;
  animation-delay: -4.4s;
  transform: translate3d(78vw, 88vh, 96px);
  background: #6bd926; }

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(11vw, 74vh, 26px); } }

.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.17;
  height: 9px;
  width: 9px;
  animation-delay: -4.6s;
  transform: translate3d(72vw, 9vh, 49px);
  background: #26b5d9; }

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(71vw, 71vh, 74px); } }

.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.44;
  height: 7px;
  width: 7px;
  animation-delay: -4.8s;
  transform: translate3d(83vw, 1vh, 74px);
  background: #26cdd9; }

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(90vw, 33vh, 29px); } }

.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.99;
  height: 6px;
  width: 6px;
  animation-delay: -5s;
  transform: translate3d(67vw, 44vh, 35px);
  background: #d92682; }

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(51vw, 10vh, 41px); } }

.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.85;
  height: 7px;
  width: 7px;
  animation-delay: -5.2s;
  transform: translate3d(25vw, 54vh, 36px);
  background: #d99426; }

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(48vw, 40vh, 7px); } }

.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.48;
  height: 6px;
  width: 6px;
  animation-delay: -5.4s;
  transform: translate3d(68vw, 26vh, 85px);
  background: #d92926; }

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(34vw, 38vh, 88px); } }

.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.76;
  height: 8px;
  width: 8px;
  animation-delay: -5.6s;
  transform: translate3d(31vw, 38vh, 45px);
  background: #d626d9; }

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(59vw, 58vh, 77px); } }

.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.34;
  height: 6px;
  width: 6px;
  animation-delay: -5.8s;
  transform: translate3d(71vw, 47vh, 43px);
  background: #26cad9; }

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(26vw, 31vh, 31px); } }

.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.07;
  height: 8px;
  width: 8px;
  animation-delay: -6s;
  transform: translate3d(23vw, 61vh, 33px);
  background: #26a9d9; }

/*# sourceMappingURL=style.css.map */